In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [34]:
dataset=pd.read_csv('D:/Mis cosas/PowerBI/Nueva carpeta (2)/HR_comma_sep2023.csv', sep=',', engine='python')

In [35]:
dataset

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [36]:
le=LabelEncoder()

In [22]:
from sklearn import preprocessing

In [37]:
dataset['salary']=le.fit_transform(dataset['salary'])

In [38]:
dataset['Department']=le.fit_transform(dataset['Department'])

In [39]:
y=dataset['left']
features=['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'promotion_last_5years','Department','salary']

In [40]:
X=dataset[features]

In [41]:
s=StandardScaler()
X=s.fit_transform(X)

In [42]:
X_train,X_test, y_train, y_test=train_test_split(X, y)

In [43]:
log=LogisticRegression()
log.fit(X_train, y_train)
y_pred=log.predict(X)
y_prob=log.predict_proba(X)[:,1]

In [44]:
dataset['predictions']=y_pred
dataset['probabilities']=y_prob